body {
  font-size: 80%;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 2.4px;
  background-color: #efefef;
}

.page {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto;
  padding: 20px;
  border: 4px double #000000;
  background-color: #ffffff;
}

.logo {
  width: 100px;
  margin: 10px auto 25px;
}

ul {
  width: 570px;
  padding: 15px;
  margin: 0px auto;
  border-top: 2px solid #000000;
  border-bottom: 1px solid #000000;
  text-align: center;
}

li {
  display: inline;
  margin: 0px 3px;
  border: 1px solid red;
  border-radius: 12px;
}

p {
  text-align: center;
  width: 600px;
  margin: 20px auto;
  font-weight: normal;
}

a {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 18px 5px;
}
