.container {
  margin: 0 15px;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .container {
    margin: 0 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 1140px;
  }
}
