<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div>
        <img
          src="https://dummyimage.com/216x37/000/fff.jpg"
          alt="Pedal Faster - The modern bicycle magazine"
          class="logo"
        />
        <img
          src="https://dummyimage.com/116x100/000/fff.jpg"
          alt="The magazine"
        />
      </div>
      <nav class="nav">
        <a href="#">home</a>
        /
        <a href="#">news</a>
        /
        <a href="#">archives</a>
        /
        <a href="#">about</a>
      />
    </header>
    <main>
      <div class="wrapper">
        <div class="main-story">
            <h1><a href="#">Fixed Gear Forever</a></h1>
          <div class="intro">
            <p class="date">16 APRIL 2011</p>
            <p>
              The veloheld combines minimalist design with superb quality.
              Devoid of excessive graphics and gear shift components, the
              veloheld product range delights us with its beauty and simplicity
              ...
            </p>
          </div>
        </div>
        <!-- .main-story -->
        <div class="more-articles">
          <h2><a href="#">More Articles</a></h2>
          <div>
            <img
              src="https://dummyimage.com/220x125/000/fff.jpg"
              alt="The road ahead"
            />
            <p>
              <a href="#"
                >On the Road: from the fixed gear fanatic's point of view</a
              >
            </p>
            <p>
              <a href="#"
                >Brand History: Pashley Cycles - hand-built in England</a
              >
            </p>
            <p>
              <a href="#"
                >Frame Wars: Innovations in cycle manufacture and repair</a
              >
            </p>
          </div>
          <div>
            <img
              src="https://dummyimage.com/220x125/000/fff.jpg"
              alt="Sketchbook"
            />
            <p><a href="#">Touring Diary: A sketchbook in your basket</a></p>
            <p>
              <a href="#"
                >Top Ten Newcomers for 2012: A peek at what's to come</a
              >
            </p>
            <p><a href="#">InnerTube: The best cycling videos on the web</a></p>
          </div>
          <div>
            <img
              src="https://dummyimage.com/220x125/000/fff.jpg"
              alt="Repair shop sign"
            />
            <p>
              <a href="#">Product Review: All baskets were not created equal</a>
            </p>
            <p>
              <a href="#"
                >Going Public: Out &amp; About with the founder of Public</a
              >
            </p>
            <p><a href="#">Cycle Lane Defence: Know your rights</a></p>
          </div>
          <div>
            <img
              src="https://dummyimage.com/220x125/000/fff.jpg"
              alt="Schwinn Spitfire"
            />
            <p>
              <a href="#">Bicyle Hall of Fame: The 1958 Schwinn Spitfire</a>
            </p>
            <p><a href="#">Reader Survey: Share your thoughts with us!</a></p>
            <p>
              <a href="#">Chain Gang: The evolution of the humble bike chain</a>
            </p>
          </div>
        </div>
        <!-- .more-articles -->
      </div>
      <!-- .wrapper -->
    </main>
    <footer class="footer">
        <p>
          <a href="#">Legal Information</a> | <a href="#">Privacy Policy</a> |
          <a href="#">Copyright &copy; Pedal Faster 2011</a>
        </p>
    </footer>
  </body>
</html>
