.stay-connected {
  padding-bottom: 42px;
}

.stay-connected-container {
  padding: 0 20px;
}

.stay-connected-wrapper {
  padding-top: 22px;
}

.stay-connected-form {
  padding: 0 5px 35px;
  text-align: center;
}

.split-half-container {
  display: flex;
  gap: 12px;
}

.stay-connected-input {
  margin-bottom: 20px;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-dark);
  font-size: var(--font-size-sm);
  width: 100%;
}

.stay-connected-input:focus {
  outline: none;
}

.info-contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-item {
  display: flex;
  gap: 12px;
}

.contact-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.contact-icon {
  display: inline-block;
}

.contact-location-icon {
  background-image: url("../../assets/icons/location.svg");
  width: 11px;
  height: 17px;
}

.contact-phone-icon {
  background-image: url("../../assets/icons/phone.svg");
  width: 12px;
  height: 17px;
}

.contact-email-icon {
  background-image: url("../../assets/icons/email.svg");
  width: 17px;
  height: 10px;
}

.contact-item-link {
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
}

.contact-social {
  display: flex;
  gap: 34px;
  margin: 24px auto 0;
}

.contact-social-link {
  display: inline-block;
}

.contact-social-icon {
  height: 22px;
  width: 22px;
}

.contact-icon-google {
  width: 32px;
}

.contact-icon-twitter {
  width: 27px;
}

@media (min-width: 768px) {
  .stay-connected {
    padding-bottom: 40px;
  }

  .stay-connected-container {
    padding: 0 63px;
  }

  .stay-connected-wrapper {
    display: flex;
    gap: 30px;
    padding-top: 48px;
  }

  .stay-connected-form {
    padding: 0;
    flex-basis: calc(50% - 15px);
    padding-top: 12px;
  }

  .split-half-container {
    gap: 16px;
  }

  .btn-form {
    margin-top: 8px;
    padding: 9px 46px;
  }

  .contact-wrapper {
    flex-basis: calc(50% - 15px);
  }
}

@media (min-width: 1200px) {
  .stay-connected {
    padding: 0;
  }

  .stay-connected-container {
    padding: 0 0 72px;
    background-image: url("../../assets/images/iphone.webp");
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  .stay-connected-wrapper {
    display: flex;
    justify-content: end;
    gap: 100px;
    padding-top: 70px;
  }

  .stay-connected-form {
    padding: 0;
    flex-basis: 362px;
  }

  .split-half-container {
    gap: 28px;
  }

  .stay-connected-input {
    margin-bottom: 38px;
    font-size: var(--font-size-xl);
  }

  .btn-form {
    margin-top: 20px;
    padding: 15px 70px;
  }

  .contact-wrapper {
    flex-basis: content;
  }

  .info-contact {
    gap: 24px;
  }

  .contact-item-link {
    font-size: var(--font-size-md);
    line-height: 24px;
    max-width: 234px;
  }

  .contact-social {
    gap: 35px;
    margin-top: 40px;
  }

  .contact-social-icon {
    height: 25px;
    width: 25px;
  }

  .contact-icon-google {
    width: 35px;
  }

  .contact-icon-twitter {
    width: 30px;
  }
}
