/* Button styles */

.btn {
  padding: 9px 31px;
  border-radius: 50px;
  background-color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  font-family: var(--font-secondary);
  letter-spacing: 0.8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
  transition: all 0.3s linear;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

@media (min-width: 768px) {
  .btn {
    padding: 13px 31px;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding: 14px 49px;
    font-size: var(--font-size-md);
    letter-spacing: 1px;
  }
}
