.text-description {
  font-size: var(--font-size-sm);
  line-height: 16px;
}

.light-text {
  color: var(--color-light);
}

@media (min-width: 1200px) {
  .text-description {
    font-size: var(--font-size-md);
    line-height: 24px;
  }
}
